



body {
  font-family: "monospace", "Arial", sans-serif; 
}



h1 {
}


ul > li > ul  > li > ul  > li{
    color: #808080;
    list-style-type: none;
    text-indent: -150px;

}



h2 {   
    text-indent: 20px;
    color: #FFAA50;
}

h3 {    
    text-indent: 40px;
}

h4 {    
    text-indent: 60px;
}






